#
# Ignored files
#

# Maven & Ant
bin/
target/
reports/

# Eclipse
.settings/
.externalToolBuilders/
.project
.classpath
.pmd

# Idea
.idea/
*.iml
*.ipr
*.iws

/build/
/.gradle/

#
# Default overrides
#
!gradle-wrapper.jar
